body {
  background-color: #f5e9e2;
  color: #22223b;
}

header {
  background-color: #b5838d;
}

section.bg-white {
  background-color: #f7f3f0;
}

section.bg-gray-100 {
  background-color: #f3d9c6;
}

section.bg-blue-800 {
  background-color: #6d6875;
}

footer {
  background-color: #22223b;
}

button.bg-blue-600 {
  background-color: #b5838d;
}

button.bg-blue-700:hover {
  background-color: #6d6875;
}